.app_works {
  width: 80%;
  margin: 0% auto;
  .works_section {
    display: flex;
    flex-direction: column;
    .work__box {
      position: relative;
      overflow: hidden;

      .work_discription {
        position: absolute;
        bottom: -9999%;
        background-color: var(--theme_text);
        padding: 2vh;
        color: #fff;
        transition: 0.3s;
      }
      &:hover .work_discription {
        bottom: 0%;
      }
      img {
        width: 100%;
      }
    }
    @media screen and (min-width: 900px) {
      display: grid;
      grid-template-columns: auto auto auto;
      .work__box {
        padding: 1vh;
        img {
          height: 300px;
        }
      }
    }
  }
}
